.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    border: none;
  
    h1 {
      @include heading();
      margin: 0 0 2rem 0;
    }
  
    .group1 {
      display: flex;
      flex-direction: column;
    }
  
    #radio-group {
      @include bodysm();
      margin-bottom: 1rem;
    }
  
    .radio-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1.5rem;
  
      label {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-bottom: 0;
        padding: 0.984375rem 1.640625rem;
        cursor: pointer;
        border: 0.0625rem solid $grey500;
        border-radius: 0.5rem;
  
        input[type="radio"] {
          display: none;
        }
  
        .custom-radio {
          box-sizing: border-box;
          border: 0.0625rem solid $grey500;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: #fff;
          margin-right: 0.75rem;
          position: relative;
  
          &:after {
            content: '';
            position: absolute;
            width: 0.9375rem;
            height: 0.9375rem;
            border-radius: 50%;
            background-color: $green600;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.2s;
          }
        }
  
        input[type="radio"]:checked + .custom-radio:after {
          opacity: 1;
        }
  
        &:hover .custom-radio {
          background-color: #f1f1f1;
        }
      }
    }
  }
  
  label {
    display: flex;
    flex-direction: column;
    @include bodysm();
    margin: 0 0 1.5rem 0;
    width: 100%;
    gap: 0.5rem;
  
    input {
      min-height: 3.1875rem;
      border-radius: 0.5rem;
      outline: none;
      border: 0.0625rem solid $grey500;
      padding: 0.75rem 1.5rem;
      box-sizing: border-box;
      @include bodymdnormal();
    }
  }
  
  .textfield {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
  
    #message {
      min-height: 15rem;
      border-radius: 0.5rem;
      border: 0.0625rem solid $grey500;
      padding: 0.75rem 1.5rem;
      box-sizing: border-box;
      @include bodymdnormal();
      outline: none;
    }
  }
  
  .toggle-checkbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.75rem 1.4375rem 0.75rem 0;
    margin-bottom: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }
  
  .toggle-checkbox input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .custom-checkbox {
    display: inline-block;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #999;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    overflow: hidden;
  }
  
  .custom-checkbox:after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/check.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .toggle-checkbox input:checked + .custom-checkbox:after {
    opacity: 1;
  }
  
  .toggle-checkbox input:checked + .custom-checkbox {
    background-color: transparent;
    border-color: $green600;
  }
  
  .toggle-checkbox input:checked + .custom-checkbox:before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
  }
  
  .submit {
    background-color: $green600;
    box-sizing: border-box;
    height: 3.6875rem;
    @include bodymdbold();
    border: none;
    border-radius: 0.5rem;
    color: white;
  }